body{

	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

#menu{

	width: 100%;
	background-image: linear-gradient(#12101A, #141538);
}

#menu ul{

	list-style: none;
	padding-bottom: 10px;
}

#menu li{

	margin-bottom: 0;
}

#center{
	
	margin-left: -2%;
}

#redirect a{

	color: #FFF;
	text-decoration: none;
	font-weight: 800;
	font-size: 12px;
	position: relative;
	transition: color 0.5s ease-out;
	background: none;
}

#redirect a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #E4E13A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

#redirect a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#redirect a:hover{

	color: #E4E13A;
}

#facebook{

	color: #FFFFFF;
	background-color: #1863D0;
	height: 27px;
	width: 27px;
	border-radius: 5px;
	text-align: center;
	line-height: 28px;
	font-size: 17px;
	float:right;
	margin-right: 9px;
}

#maes{
	
	background-color: #337;
	width: 27px;
	height: 27px;
	float: right;
	margin-right: 2px;
	border-radius: 5px;
}


#links{

	position: absolute;
	top: 2px;
	right: -6px;
}

#menu-button{
	
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	color: #E4E13A;;
	font-weight: 900;
	font-size: 30px;
	outline: none;
	transition: color 0.2s ease-out;
	margin-bottom: 15px;
	margin-left: 5%;
}

#menu-button:active:hover{

	color: #FFFFFF;
}

#links{
	
	transition: color 0.2s ease-out;
}

#links *:active:hover{

	background-color: #000;
}

.navbar-default {

    background-color: transparent;
    border-color: transparent;
}

#center{

	text-align: center;
}

#nav-menu{

	margin-top: 23%;
}

#title{
	
	position: absolute;
	top: 30px;
	left: 0px;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: 900;
	font-size: 18px;
	color: #141538;
}

#title #logo{
	
	float: left;
	width: 30%;
	position: relative;
	left: -15%;
}

#title #titulo{
	
	float: left;
	width: 60%;
}

.dropdown-menu{
	
	text-align: left;
	width: 230px;
	margin-left: 0%;
	z-index: -1;
}

.dropdown-menu a{

	width: 200px;
	text-align: left;
	display: block;
}

#conteudo #menu-lateral{
	
	width: 20%;
	padding-right: 5px;
}

#conteudo .navbar-nav{
	
	margin-top: 100px;
}

#conteudo .nav-item{
	
	width: 100%;
	margin: 2%;
}

#conteudo #menu-lateral{

	margin-left: 1.5%;
}

#conteudo #menu-lateral a{
	
	color: #000;
	font-weight: 900;
	transition: color 0.3s ease-out;
	transition: background 0.2s ease-out;
}

#conteudo #menu-lateral a:hover{
	
	color: #E4E13A;
	background: #12101A;
}

#conteudo #menu-lateral a:focus{
	
	color: #FFF;
	background: #12101A;
}

#conteudo #menu-lateral{
	
	margin-top: -8%;
}

#conteudo #menu-lateral i{
	
	font-size: 20px;
	font-weight: 100;
	position: relative;
	top: 5px;
}

#conteudo{
	
	position: absolute;
	z-index: -2;
	padding-top: 3%;
	width: 100%;
}

#conteudo #comoajudar{
	
	margin-left: 3%;
}

#conteudo hr{
	
	width: 90%;
	margin-left: 3%;
}


#conteudo .texto{
	
	margin-left: 23%;
	width: 80%;
	margin-top: 11%;
}

.espaco{
	
	margin-right: 3px;
}

.topico{
	
	width: 85%;
}

.topico *:not(h3){
	
	margin-left: 5%;
	text-align: justify;
	text-justify: inter-word;
}

.topico h4.text-center{
	
	margin-right: 25%;
}

.topico p{
	
	line-height: 1.5;
	font-size: 16px;
}

#conteudo .list-inline li{
	
	width: 70px;
	height: 70px;
	margin: 5px;
}

#conteudo .list-inline li img{
	
	padding: 2px;
}

#conteudo .evento{
	
	display: block;
	padding: 2px;
	width: 40%;
	min-height: 20%;
	margin-left: 10%;
	border: 3px solid;
	border-color: #0e2249;
	border-radius: 7px;
	background-color: #F8FFFF;
}

#conteudo .evento .titulo{
	
	text-align: center;
	font-size: 20px;
} 

#conteudo .evento .data {
	
	float: right;
}

#conteudo .evento .imagem{
	
	width: 70%;
	margin-left: 15%;
}

#conteudo .evento .imagem img{
	
	width: 100%;
}

@media (min-width: 760px) {

	.dropdown-menu{

		background-color: #12101A;
	}

	#menu-button{
	
		display: none;
	}
	
	#exCollapsingNavbar2{
	
		display: block;
	}
	
	.dropdown-menu{
		
	}
	
	.dropdown-menu a{
		
		text-align: center;
		margin-left: 6%;
	}
	
	#redirect{
	
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}
	
	#conteudo #menu-lateral{
		
		height: 100%;
	}
	
	#title{
		
		margin-left: 15%;
		margin-right: 15%;
	}
	
	#menu-principal #nav-menu{

		margin-top: 15%;
	}
}

@media (max-width: 760px) {
	
	#redirect a {
		
		width: 300px;
	}
}
